:root{
    --text_color: #444;
    --main_color: #27ae60;
    --bg_color: rgba(46,204,113,0.1);
}

[role=tab-1] {
  --text_color: #444;
  --main_color: #0ba133;
  --bg_color: rgba(46,204,113,0.1);
}

[role=tab-2] {
  --text_color: #444;
  --main_color: #bfb00b;
  --bg_color: rgba(209, 204, 148,0.1);
}

[role=tab-3] {
  --text_color: #444;
  --main_color: #a3230a;
  --bg_color: rgba(209, 158, 148,0.1);
}

[role=tab-4] {
  --text_color: #444;
  --main_color: #a30a7d;
  --bg_color: rgba(194, 143, 181,0.1);
}

[role=tab-5] {
  --text_color: #444;
  --main_color: #15157a;
  --bg_color: rgba(140, 140, 194,0.1);
}

[role=tab-6] {
  --text_color: #444;
  --main_color: #07a4b8;
  --bg_color: rgba(140, 188, 194,0.1);
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.vertical-tab{
    font-family: 'Roboto', sans-serif;
    display: table;
}
.vertical-tab .nav-tabs{
   display: table-cell;
   width: 28%;
   min-width: 28%;
   border: none;
   position: relative;
}
.vertical-tab .nav-tabs li{
   float: none;
   vertical-align: top;
}
.vertical-tab .nav-tabs li a{
    color: #505050;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
    margin: 0 0 7px 0;
    border-radius: 0;
    border: none;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.vertical-tab .nav-tabs li:last-child a{ margin-bottom: 0; }
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover{
    color: #fff;
    border:none;
}
.vertical-tab .nav-tabs li a:before,
.vertical-tab .nav-tabs li a:after{
    content: '';
    height: 0;
    width: 100%;
    background-color: var(--main_color);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    transition:all 0.3s ease-out 0s;
}
.vertical-tab .nav-tabs li.active a:before,
.vertical-tab .nav-tabs li a:hover:before{
    height: 100%;
}
.vertical-tab .nav-tabs li a:after{
    height: 18px;
    width: 18px;
    background-color: #505050;
    border: 3px solid #fff;
    border-radius: 50%;
    transform:translateY(-50%) scale(0);
    top: 50%;
    right: -9px;
    transition-delay: 0.15s;
}
.vertical-tab .nav-tabs li.active a:after,
.vertical-tab .nav-tabs li a:hover:after{
    transform:translateY(-50%) scale(1);
}
.vertical-tab .tab-content{
    color: #505050;
    background: rgba(0,0,0,0.03);
    font-size: 15px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 23px;
    vertical-align: top;
    padding: 15px 18px 0;
    margin-top: 10px;
    display: table-cell;
    box-shadow: 5px 5px 5px grey;
    border: 2px solid lightgrey;

}
.vertical-tab .tab-content h3{
    color: var(--main_color);
    font-size: 24px;
    margin: 0 0 5px 0;
}
@media only screen and (max-width: 900px){
    .vertical-tab .nav-tabs{
        display: block;
        width: 100%;
        border-right: none;
    }
    .vertical-tab .nav-tabs li{ margin: 0 0 10px 0; }
    .vertical-tab .nav-tabs li:last-child{ margin: 0; }
    .vertical-tab .nav-tabs li a{
        padding: 10px;
        margin: 0;
    }
    .vertical-tab .nav-tabs li a:after{
        top: auto;
        bottom: -9px;
        right: 50%;
        transform: translateY(0) translateX(50%) scale(0);
    }
    .vertical-tab .nav-tabs li.active a:after,
    .vertical-tab .nav-tabs li a:hover:after{
        transform: translateY(0) translateX(50%) scale(1);
    }
    .vertical-tab .tab-content{
        display: block;
        padding: 20px 15px 5px;
        border-radius: 0 0 10px 10px;
    }
}

/* TIMELINE */
.main-timeline{ font-family: 'Roboto', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 80%;
    float: left;
}
.main-timeline .timeline-content{
    color: #fff;
    background: linear-gradient(to right, #27ae60,#41b571);
    padding: 20px 20px 20px 170px;
    margin: 0 0 60px;
    border-radius: 100px 0 0;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
    color: #fff;
    background: linear-gradient(to right, #27ae60,#41b571);
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    height: 120px;
    width: 120px;
    border: 10px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
    left: 20px;
}
.main-timeline .description{
    font-size: 17px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    margin: -60px 0 60px;
    float: right;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    padding: 20px 170px 20px 20px;
    margin: 60px 0 0;
    border-radius: 0 0 100px 0;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    left: auto;
    right: 20px;
    bottom: auto;
    top: -60px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content,
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{
    background: linear-gradient(to right, #27ae60,#41b571);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content,
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{
    background: linear-gradient(to right, #27ae60,#41b571);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content,
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{
    background: linear-gradient(to right, #27ae60,#41b571);
}
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 15px;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 60px 15px 15px 15px;
        margin: 40px 0 0;
        border-radius: 0 0 50px 0;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        font-size: 30px;
        line-height: 60px;
        height: 80px;
        width: 80px;
        right: 15px;
        left: auto;
        top: -40px;
    }
}
@media screen and (max-width:567px){
    .main-timeline .title{ font-size: 18px; }
    .responsive-icon{ width: 100px; height: 100px;}
}
