*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.contact-box{
  position: relative;
  display: inline-block;
  margin-left:20%;
  width:60%;

}

.contact-parent{
    display:flex;
    margin:80px 0;
}

.contact-child{
    display:flex;
    flex:1;
    box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
    border-radius:5px;
}

.child1{
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/subscribe-bg.jpg");
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color:#fff;
    padding:100px 0;
}

.child1 p{
    padding-left:20%;
    font-size:20px;
    text-shadow:0px 0px 2px #000;
}

.child1 p span{
    font-size:16px;
    color:#9df2fd;
}

.child2{
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.inside-contact{
    width:90%;
    margin:0 auto;
}

.inside-contact h2{
    text-align:center;
    margin-top:50px;
}

.inside-contact h3{
    text-align:center;
    font-size:16px;
    color:#0085e2;
}

.inside-contact input, .inside-contact textarea{
    width:100%;
    background-color:#eee;
    border:1px solid lightgrey;
    padding:5px 10px;
    margin-bottom:20px;
}

.inside-contact input[type=submit]{
    background-color: rgba(40,167,69);
    color:#fff;
    transition:0.2s;
    margin:30px 0;
}

.inside-contact input[type=submit]:hover{
    background-color:rgba(28,113,47);
    color:#fff;
    transition:0.2s;
}

.alert-success{
  position:fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index:2;
  border-radius:0px;
  margin: 4% auto;
  width: 60%;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 2%;
}

@media screen and (max-width:991px){
    .contact-parent{
        display:block;
        width:100%;
    }
    .inside-contact input, .inside-contact textarea{
        background-color:#fff;
    }

    .contact-box{
      width:100%;
      margin-left:0;
    }
}
