.serviceBox{
    color: #606060;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 30px 37px 45px;
    border-radius: 0 0 110px 110px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.serviceBox:before,
.serviceBox:after{
    content: '';
    background: linear-gradient(to right,#B1EF22,#3EAE40);
    border-radius: 5px 5px 0 0;
    position: absolute;
    left: 0;
    top: 25%;
    bottom: 0;
    right: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
}
.serviceBox:after{
    background: linear-gradient(#fff,rgba(255,255,255,0.85),#fff);
    border-radius: 20px 20px 100px 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    left: 15px;
    top: 15px;
    bottom: 15px;
    right: 15px;
    clip-path: none;
}

.serviceBox .title{
    color: #3EAE40;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.serviceBox .description{
    font-size: 1.4em;
    line-height: 24px;
    text-align: justify;
    margin: 4%;
}

.serviceBox.green:before{ background: linear-gradient(to right,#019F88,#037389); }
.serviceBox.green .title,


@media only screen and (max-width:798px){

		.container{
			width:100%;
		}

		.serviceBox{
			margin-left: 5%;
		 	width:100%;
    }
}
