


.Table{
    background: #d62035;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 0 100px;
    overflow: hidden;
    transition: all 0.3s;
    margin:30% auto;
}
.Table .Table-header{
    color: #fff;
    background: linear-gradient(100deg,#F83950,#F7700F);
    padding: 10px 30px 50px;
    margin: 0 0 50px;
    border-radius: 0 100px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
.Table .amount{
    font-size: 32px;
    font-weight: 600;
    padding-top: 1em;
    color: #21644d;

}

.Table .content1{
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 0 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
}

.Table .content2{
    background-color: #fff;
    padding: 35px 20px;
    border-radius: 0 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
}

.Table .content3{
    background-color: #fff;
    padding: 35px 20px;
    border-radius: 0 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
}
.Table .title{
    color: #F83950;
    font-size: 16px;
    font-weight: 400;
    margin: 5% auto;
    display: block;
}

.Table .content ul{
    color: #202020;
    font-size: 16px;
    letter-spacing: 1px;
    line-height:     30px;
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
}
.Table.green{ background-color: #17b568;}
.Table.green .Table-header{
    background: linear-gradient(100deg,#27CE7F,#5BF095);
}
.Table.green .title{ color: #202020; }

}

@media only screen and (max-width: 768px){
    .Table{ margin: 0 0 30px; }
    .container{
      width: 90%;
    }

}
