<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title> Quaether- Lista de articulos del blog disponibles</title>
</head>

<style>{{ readFile "static/css/articles-list.css" | safeCSS }}</style>

<!-- navbar responsive setting -->
{{ partialCached "header-es.html" . .Params.enlink}}

<div class="row" style="height:30%;">
</div>

{{ range .Pages.GroupByParam "spanish"}}
{{ range sort .Pages ".Params.setdate" }}
<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url({{ with .Params.img }}{{ . }}{{ end }})"></div>
    <ul class="details">
      <li class="date">{{.Params.setdate}}</li>
    </ul>
  </div>
  <div class="description">
    <h1>{{ .Page.Title }}</h1>
    <h2></h2>
    <p> {{ .Params.description }}</p>
    <p class="read-more">
      <a href="{{ .Permalink }}">Read More</a>
    </p>
  </div>
</div>
{{end}}
{{end}}

<div class="pagination-wrapper">
  <div class="pagination justify-content-center">
    <a class="prev page-numbers" href="javascript:;">prev</a>
    <span aria-current="page" class="page-numbers current">1</span>
    <a class="page-numbers">2</a>
    <a class="page-numbers">3</a>
    <a class="next page-numbers">next</a>
  </div>
</div>


<div class="row" style="height:20%;">
</div>

{{ partialCached "subscribe-es.html" . }}
{{ partialCached "footer-es.html" . }}

</html>
