<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:medium,regular">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="icon" href="/images/tablogo.ico">
  <title> Quaether- Fortifica tu biocampo con la tecnología BSQ </title>
</head>

<style>{{ readFile "static/css/post.css" | safeCSS }}</style>

<!-- navbar responsive setting -->
{{ partialCached "header-es.html" . .Params.enlink }}

<div class= "filler" style="width:100%; height:12em; background-color: #f0f0f0"></div>
<body  class= "post">
<div class="post-container">
    <div class="row">
        <div class="col-xl">
            <div class="postBox">
              <div class="iconBar">
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
              </div>
                <img src={{.Params.img}} class= "post-img">
                <h3 class="title">{{.Title}}</h3>
                <p class="description">{{ .Params.description }}</p>
                <div class="content">{{.Content}}</div>
            </div>
        </div>
      </div>
</div>
</body>

<div class= "filler" style="width:100%; height:10em; background-color: #f0f0f0"></div>

{{ partialCached "subscribe-es.html" . }}
{{ partialCached "footer-es.html" . }}
</html>
