<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:medium,regular">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<style>{{ readFile "static/css/coding.css" | safeCSS }}</style>
<body style="background-color:#f0f0f0;">

<!-- navbar responsive setting -->
{{ partialCached "header-es.html" .  .Params.enlink}}

{{ partialCached "header-pic-es.html" . .Title .Params.seccion }}

<body>
<div class="container" style= "padding-top: 50px;">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <a href="#" class="timeline-content">

                        <p class="description">
                          La tecnología tiene dos modos de funcionamiento:
                           <br> AUTOMÁTICO: Interactúa con las energías del entorno generando partículas cuánticas libres.
                           <br> ENFOCADO: El usuario utiliza un código para dirigir la resonancia hacia un fin específico.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <p class="description">
                          El uso de códigos es un ejercicio mental que no requiere tecnología adicional.
                           <br> El usuario solo necesita vincular los conceptos del código con el problema que está tratando de resolver.
                           <br> Cuanto más amplio sea el pensamiento detrás del código, más posibilidades de ver un efecto.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">

                        <p class="description">
                          Para construir un código es necesario vincular los conceptos del esquema formando una cadena cerrada.
                          <br> Se deben respetar las líneas de conexión ya que no todos los conceptos están relacionados entre sí.
                          <br> Los códigos se pueden aplicar tanto al usuario del dispositivo como a otra persona con la que tienen un estrecho vínculo mental.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">

                        <p class="description">
                          Cuando el usuario envía un código, se genera una resonancia entre el biocampo receptor y el mensaje transmitido por la señal.
                          <br> La respuesta generalmente se percibe como un 'efecto mariposa' y no como la aceptación de una orden.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<body>
<div class="row">
  <div class="col-xl" style="text-align:center; margin:6% auto; padding-top:50px;">
    <img src="/images/tarjeta.png" alt="Diagrama de la tarjeta de función utilizada para programar el BSQ " class="responsive" width=77% height=auto>
  </div>
    <div class="col-xl">
      <div class="row">
          <div class="col" style="text-align:center; margin:35% auto;">
              <div class="vertical-tab" role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                     <li role="presentation"><a href="#Section1" aria-controls="home" role="tab-1" data-toggle="tab">FUNCIÓN</a></li>
                      <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab-2" data-toggle="tab">TRANSFORMACIÓN</a></li>
                      <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab-3" data-toggle="tab">REACCIÓN</a></li>
                      <li role="presentation"><a href="#Section4" aria-controls="messages" role="tab-4" data-toggle="tab">NEO</a></li>
                      <li role="presentation"><a href="#Section5" aria-controls="messages" role="tab-5" data-toggle="tab">TRABAJO</a></li>
                      <li role="presentation"><a href="#Section6" aria-controls="messages" role="tab-6" data-toggle="tab">MEMORIA</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content tabs">
                      <div role="tab-1" class="tab-pane fade in active" id="Section1">
                          <h3>FUNCIÓN</h3><br>
                          <h4>Representa la acción que queremos lograr con el código.
                             <br> <br> Como una ecuación matemática, depende de otros conceptos para completar los operandos y obtener el resultado.</h4>
                      </div>
                      <div role="tab-2" class="tab-pane fade" id="Section2">
                          <h3>TRANSFORMACIÓN</h3><br>
                          <h4>Se aplica cuando es necesario cambiar algún elemento de la situación.
                             <br> <br> A diferencia del trabajo, es un proceso natural que se desencadena por la voluntad propia del individuo. </h4>
                      </div>
                      <div role="tab-3" class="tab-pane fade" id="Section3">
                          <h3>REACCIÓN</h3><br>
                          <h4>Cada modificación inducida por los códigos genera un porcentaje de rechazo por parte del biocampo.
                             <br> <br> La inclusión del concepto de reacción en el código reduce este rechazo y aumenta las posibilidades de éxito. </h4>
                      </div>
                      <div role="tab-4" class="tab-pane fade"  id="Section4">
                          <h3>NEO</h3><br>
                          <h4>Son los productos que resultan de nuevas combinaciones con el medio ambiente.
                             <br> <br> Se aplica cuando los problemas no se pueden resolver modificando elementos existentes. Por ejemplo, cuando se busca generar nuevas ideas. </h4>
                      </div>
                      <div role="tab-5" class="tab-pane fade"  id="Section5">
                          <h3>TRABAJO</h3><br>
                          <h4>Representa el trabajo físico o mental que el individuo debe realizar para lograr el objetivo.
                          <br> <br> Se relaciona con la transformación de ideas en fuerzas capaces de modificar el entorno. </h4>
                      </div>
                      <div role="tab-6" class="tab-pane fade"  id="Section6">
                          <h3>MEMORIA</h3><br>
                          <h4>Es responsable de almacenar elementos físicos (grasa) y abstractos (experiencias) dentro del cuerpo.
                          <br> <br> Debe incluirse en su código para que siga siendo efectivo sin la necesidad de implementarlo a diario. </h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    </div>
</body>

<script>

  $(".nav-tabs").on('click', 'li', function () {
    $(".nav-tabs li.active").removeClass("active");
    // adding classname 'active' to current click li
    $(this).addClass("active");
});
</script>

<body>
<div container>
    <div class="row" style= "padding-top:50px">
    <div class="col-md-6" style="text-align:center; padding-top: 50px;background:linear-gradient(to top, #009900 -2%, #339933 100%); width:100%; height: 300px;">
      <h3 class="font1" style= "color:#f0f0f0" ><b> Tarjeta de Funciones para imprimir</b> </h3>
      <br><br>
      <a href="/files/TARJETA-CODIGOS.pdf" alt= "Printable function card for BSQ codes" download>
      <img src="/images/pdf.png" alt="Pdf icon to dowload files" class="responsive-icon" width=100px height=100px>
      </a>
     </div>
     <br><br>
    <div class="col-md-6" style="text-align:center;padding-top: 50px;background:linear-gradient(to top, #009900 -2%, #339933 100%); width:100%; height: 300px;">
      <h3 class="font1" style= "color:#f0f0f0"><b> Explicación + códigos de ejemplo</b> </h3>
      <br><br>
      <a href="/files/BSQ-CODIGOS-INFO.pdf" alt= "Coding explanation and a list of examples" download>
      <img src="/images/pdf.png" alt="Pdf icon to dowload files" class="responsive-icon" width=100px height=100px>
      </a>
     </div>
     <br><br>
    </div>
  </div>
</body>

{{ partialCached "footer-es.html" . }}

</html>
