<html>

<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" type="image/vnd.microsoft.icon" href="/images/4343.ico" sizes="16x16 32x32">
  <title> Quaether- Acerca del funcionamiento de la tecnología BSQ</title>
</head>

<style>{{ readFile "static/css/bsq-technology.css" | safeCSS }}</style>
<body style="background-color:#f0f0f0;">


<!-- navbar responsive setting -->
{{ partialCached "header-es.html" .  .Params.enlink}}

{{ partialCached "header-pic-es.html" . .Title .Params.seccion }}

<body>
<div class="row">
  <div class="col-xl-6" style="text-align:center; margin:6% auto;">
    <img src="/images/human-em-field.webp" alt="Human biofield" class="responsive-2" style= "width:80%; height:auto">
  </div>
    <div class="col-xl-6">
    <h3 class= "font2" style= "color:#181a18; text-align:justify; margin: 12% auto; width: 80%;"> Las personas emiten una radiación constante, creando un campo biológico que los protege, y promueve el intercambio con el entorno.
      <br>Para mantener el bio-campo es necesario que exista una realimentación con el entorno, de lo contrario la persona solo podrá consumir su energía interna.
      <br>Cuando la persona no logra recuperar su energía interna a la misma velocidad que la consume, ocurren efectos secundarios como lo son las enfermedades, y los cambios de humor.
      <br>La tecnología se encarga de modificar el entorno de la persona para que su bio- campo sea capaz de absorber la energía libre en el ambiente en vez de consumir la  propia.</h3>
    </div>
</div>
</body>

<body>
<div class="image">
    <img src="/images/bsq-signal.webp" alt="BSQ signal representation"width=100% height=auto>
    <div class="text">
       <div class= "font" style= "color:#39deb5;text-transform: uppercase;text-align:center;"> Toda la línea de productos cuenta con antenas que se calibran para generar la mejor resonancia con el cliente y el entorno que lo rodea </div>
    </div>
</div>
</body>

<body>
<div class="row flex-column-reverse flex-xl-row">
  <div class="col-xl-6">
    <h3 class= "font2" style= "color:#181a18; text-align:justify; margin: 12% auto; width: 80%;"> A diferencia de otros dispositivos relacionados con el bio-campo, la tecnología BSQ no utiliza señales electromagnéticas.
    Las señales captadas y emitidas son de origen cuántico.<br><br>Eso significa que no interfieren con otros dispositivos electrónicos y su accionar se enfoca en el entorno, no en los individuos.</h3>
  </div>
  <div class="col-xl-6" style="text-align:center; margin:3% auto;padding-top:20px;">
    <img src="/images/wave-particle.webp" alt="Quantum wave signal.Credits:pngtree.com" class="responsive-1" width=80% height=auto>
  </div>
</div>
</body>


{{ partialCached "footer-es.html" . }}

</html>
