<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="icon" href="favicon.ico?v=1" type="image/x-icon"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <title> Quaether- About the company</title>
</head>

<style>{{ readFile "static/css/green-block.css" | safeCSS }}</style>
<style>{{ readFile "static/css/quaether.css" | safeCSS }}</style>

<body style="background-color:#f0f0f0;">

<!-- navbar responsive setting -->
{{ partialCached "header.html" . .Params.eslink}}

{{ partialCached "header-pic.html" . .Title }}

<body>
<div class="row" style="margin: 5% auto;">
    <div class="col-xl-3"style="margin: 5% auto;">
        <div class="serviceBox">
            <h3 class="title">Our Mision </h3><br>
            <p class="description">Offer an innovative technology, capable of improving the relationship between customers and the environment that surrounds them. <br>
              Our products are aimed at anyone who is affected by external factors, directly or indirectly, which reduce their life quality.<br><br></p>
        </div>
    </div>
    <div class="col-xl-3"style="margin: 5% auto;">
        <div class="serviceBox">
            <h3 class="title">Our Vision</h3><br>
            <p class="description">Establish ourselves in the national and international market as the leading company in bio-field technology. <br>
              Provide users with the tools so that they can include technology in their daily activities. <br> Continue developing solutions suitable for the needs of present and future customers. </p>
        </div>
    </div>
    <div class="col-xl-3"style="margin: 5% auto;">
        <div class="serviceBox">
            <h3 class="title">Our Values</h3><br>
            <p class="description">Clear and dynamic communication with customers and employees, to understand their needs.<br>
              Development of quality products in order to provide security to our customers. <br> Search for constant improvement that benefits the company's processes and optimizes customer service.</p>
          </div>
    </div>
</div>
</body>


{{ partialCached "footer.html" . }}

</html>
