<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<style>{{ readFile "static/css/footer.css" | safeCSS }}</style>

<body class="fo">
<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo"style="text-align:center"><img src="/images/quaether.webp" style= "width:150px; height:150px;"></h1>

    <address style="text-align:center">
      La Pampa 2753 1st floor,1428<br> Buenos Aires, Argentina <br>
      (011) 54 9 4781-5453 <br><br>

      <a class="footer__btn" style="text-align:center" href="mailto:info@quaether.com">Email Us</a>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title"><b>ABOUT</b></h2>

      <ul class="nav__ul">
        <li>
          <a href="{{ "about/quaether" | relURL }}">Quaether</a>
        </li>

        <li>
          <a href="{{ "about/bsq-technology"| relURL }}">BSQ Technology</a>
        </li>

        <li>
          <a href="{{ "about/coding"| relURL }}">Coding</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title"><b>PRODUCTS</b></h2>

      <ul class="nav__ul">
      <li>
        <a href="{{ "products/bsq-mini"| relURL }}">BSQ Mini</a>
      </li>

      <li>
        <a href="{{ "products/bsq-neo"| relURL }}">BSQ Neo</a>
      </li>
    </ul>
  </li>

    <li class="nav__item">
        <h2 class="nav__title"><a href="{{ "maintenance"| relURL }}"><b>MAINTENANCE</b></a></h2>
        <h2 class="nav__title"><a href="{{ "blog"| relURL }}"><b>BLOG</b></a></h2>
        <h2 class="nav__title"><a href="{{ "contact"| relURL }}"><b>CONTACT US</b></a></h2>
    </li>

    <li class="nav__item">
      <h2 class="nav__title"><b>LEGAL</b></h2>

      <ul class="nav__ul" id= "myUL">
        <li data-toggle="modal" data-target="#ppModal" data-whatever="Privacy">
          <a> Privacy Policy </a>
        </li>

        <li data-toggle="modal" data-target="#tcModal" data-whatever="Terms">
          <a> Terms & Conditions </a>
        </li>

        <li data-toggle="modal" data-target="#discModal" data-whatever="Disclaimer">
          <a>Disclaimer</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="modal fade" id="ppModal"
          tabindex="-1" role="dialog"
          aria-labelledby="ppModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" style="color:black"
                          id="ppModal">
                          Privacy Policy
                      </h5>
                      <button type="button" class="close"
                          data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-main">
                      <iframe class="legal-frame" src="/files/privacy-policy.txt"></iframe>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class=
                          "btn btn-secondary" data-dismiss="modal">
                          Close
                      </button>
                  </div>
              </div>
          </div>
      </div>

      <div class="modal fade" id="tcmodal"
          tabindex="-1" role="dialog"
          aria-labelledby="tcModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" style="color:black"
                          id="tcModal">
                          Terms & Conditions</h5>
                      <button type="button" class="close"
                          data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-main">
                    <iframe class="legal-frame" src="/files/terms.txt"></iframe>
                  </div>
                  <div class="modal-footer">
                      <button type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal">
                          Close
                      </button>
                  </div>
              </div>
          </div>
      </div>

      <div class="modal fade" id="discmodal"
          tabindex="-1" role="dialog"
          aria-labelledby="discModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title"
                          id="discmodal">
                          Modal title
                      </h5>
                      <button type="button" class="close"
                          data-dismiss="modal"
                          aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-main">
                      <iframe class="legal-frame" src="/files/disclaimer.txt"></iframe>
                  </div>
                  <div class="modal-footer">
                      <button type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal">
                          Close
                      </button>
                  </div>
              </div>
          </div>
      </div>


  <hr class= "breakline">
  <div class="copyright">
    <p style= "text-align:center">&copy; 2021 Quaether. All rights reserved.</p>

  </div>
</footer>

</body>
</html>
