
<html>

<head>
  {{ partialCached "header.html" . .Params.eslink }}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:medium,regular">
  <link rel="checkmark" type="image/svg+xml" href="images/check-mark.svg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="icon" href="/images/4343.ico">
  <title> Quaether-BSQ technology to fortify your biofield</title>

</head>

<style>{{ readFile "static/css/homepage.css" | safeCSS }}</style>
<script defer language="javascript" type="application/javascript"  src="{{ "/js/homepage.js" | urlize | relURL }}"></script>


<body style="background-color:#f0f0f0;">

<!-- navbar responsive setting -->

<div class="aviso">
    <span class="boton-cerrar" onclick="this.parentElement.style.display='none';">&times;</span>
  <h1 class="titulo-alerta">By remaining in this site you agree to our  Terms & Conditions and Privacy Policy </a></h1>
  See the Legal section on the footer for more information.
</div>


<img src="/images/header.webp" alt="Header" class="responsive" width=100% height=auto>

</body>

<body>
<div class="row" style= "margin:4% auto;">
  <div class="col-xl" style="text-align:center; padding-top:3%;">
    <img src="/images/homepage_welcome.webp" alt="Header" class="responsive" width=90% height=auto>
  </div>
  <div class="col-xl">
    <br><br>
    <div class="font1 intro-title" style= "color:#181a18 ; text-align:center" ><b> Welcome </b> </div>
    <div class= "font2 intro" style= "color:#181a18; text-align:center"> Our technology is capable of proving customers with a better environment and an increase in their energy levels. We provide our clients with:<br></div>
    <br>
    <ul class="no_bullet">
      <li> <div class = "font1 intro-title" style= "color:#181a18">Customization</div> <div class= "font2 intro" style= "color:#181a18;text-align:left">Each product is developed according to the needs presented by the client </div></li>
      <br>
      <li> <div class = "font1 intro-title" style= "color:#181a18">Support</div> <div class= "font2 intro" style= "color:#181a18;text-align:left">Clients can inquire about its applications  or specific codes free of charge </div></li>
      <br>
      <li> <div class = "font1 intro-title" style= "color:#181a18">Upkeep</div> <div class= "font2 intro" style= "color:#181a18; text-align:left">Repair service through shipping the product to the contact address </div></li>
      <br>
    </ul>
  </div>
</div>
</body>

<body>

<div class="row">
  <div class="col-xl-6 video-col" style="text-align:center; background:linear-gradient(to top, #009900 -2%, #339933 100%);">
    <div class="font1 intro-title" style= "color:#f0f0f0; padding-top:50px;" ><b> How does the BSQ technology work?</b> </div>
    <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Q2QmuwoDkGo" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
   </div>
  </div>
  <div class="col-xl-6 video-col" style="text-align:center; background:linear-gradient(to top, #009900 -2%, #339933 100%);">
    <div class="font1 intro-title" style= "color:#f0f0f0; padding-top:50px;"><b> How can i use the Codes with the BSQ?</b> </div>
    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9badzzCr_Nw" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
   </div>
  </div>
</div>
</body>
<br><br>

<body>
    <div class="tsl-container">
      <h1 class="font1 intro-title" style= "color:black; text-align:center"><b> CLIENTS REVIEWS </b> </h1>
      <hr class="bookends">
    	<!-- testimonials begin -->

        <div class="mySlides">
            <q>Personally, I improved in several aspects both economically, and in social and family relationships. I achieved personal goals in an easier and more efficient way, without a doubt this technology works !! <br> With the code I managed to program a goal that I thought was almost impossible and with the help of this it was not only possible but also more achievable! ! </q>
            <p class="author">- Lourdes Jaimes</p>
          </div>

          <div class="mySlides">
            <q>At first, the headaches of a lifetime disappeared and never came back. Then, and until now, I have achieved a general balance regarding all aspects of life, both internal and external. <br> I consider that the BSQ gives me very good results without using the codes, an action to which I am not particularly willing.</q>
            <p class="author">- César Scafati </p>
          </div>

          <div class="mySlides">
            <q>From the BSQ technology I obtained very good benefits in the family relationship. At work, more concentration and order. My mood is also more stable and harmonious. <br> Another benefit, I relate it to rest, which allows me to sleep much better. I used the codes a few times, the effect in the instant is equally remarkable. </q>
            <p class="author">-Rosa Tempesta</p>
          </div>

          <div class="mySlides">
            <q>BSQ technology has benefited me in a general sense, psychologically and physically. I think that if I didn't have the BSQ, we wouldn't be in my family having a good time at a time as difficult as the current one. I don't know if there would be a difference, but I think the codes responded </q>
            <p class="author">-Francisca Behringer -Juliana Alvino -Carlos Alvino</p>
          </div>

          <div class="mySlides">
            <q>It allows making decisions with a broader view of possibilities and alternatives. This influences the quality of life as it allows greater relaxation and less stress. It also improves sleep and rest in general. <br>
               The bond with others improves and it can also be observed that people modify some harmful attitudes for themselves and for others. <br> The codes enhance the work carried out by the BSQ, that is, it expands on everything previously said.
               It allows the implementation of the correct strategy at the correct time. You can positively influence others and thus improve the entire spectrum of the situation. </q>
            <p class="author">-Marina Campos</p>
          </div>

          <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
          </div>

          </div>

    	<!-- testimonials end -->
      <hr class="bookends">
    </div>
</body>

<div class="news-container">
    <div class="row" style="padding-bottom:50px">
        <div class="col-xl">
            <div class="news">
                <div class="news-image">
                    {{range (where .Paginator.Pages ".Params.top1"  "true")}}
                      <img src={{.Params.img}}>
                      <p class="description">
                          {{ .Params.description }}
                      </p>
                    {{ end }}

                    <ul class="social">
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
                <div class="news-info">
                  {{range (where .Paginator.Pages ".Params.top1"  "true")}}
                    <h3 class="title">{{ .Page.Title }}</h3>
                  {{ end }}
                </div>
                  {{range (where .Paginator.Pages ".Params.top1"  "true")}}
                  <a href="{{ .Permalink }}" class="read">READ MORE</a>
                {{ end }}
            </div>
        </div>

        <div class="col-xl">
            <div class="news">
                <div class="news-image">
                    {{range (where .Paginator.Pages ".Params.top2"  "true")}}
                      <img src={{.Params.img}}>
                      <p class="description">
                          {{ .Params.description }}
                      </p>
                    {{ end }}
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
                <div class="news-info">
                  {{range (where .Paginator.Pages ".Params.top2"  "true")}}
                    <h3 class="title">{{ .Page.Title }}</h3>
                  {{ end }}
                </div>
                {{range (where .Paginator.Pages ".Params.top2"  "true")}}
                  <a href="{{ .Permalink }}" class="read">READ MORE</a>
                {{ end }}
            </div>
        </div>

        <div class="col-xl">
            <div class="news">
                <div class="news-image">
                    {{range (where .Paginator.Pages ".Params.top3"  "true")}}
                      <img src={{.Params.img}}>
                      <p class="description">
                          {{ .Params.description }}
                      </p>
                    {{ end }}
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
                <div class="news-info">
                  {{range (where .Paginator.Pages ".Params.top3"  "true")}}
                    <h3 class="title">{{ .Page.Title }}</h3>
                  {{ end }}
                </div>
                {{range (where .Paginator.Pages ".Params.top3"  "true")}}
                  <a href="{{ .Permalink }}" class="read">READ MORE</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>


{{ partialCached "subscribe.html" . }}

{{ partialCached "footer.html" . }}
</html>
