
<html>

<head>
  {{ partialCached "header-es.html" . .Params.enlink }}
  <meta charset="UTF-8">
  <link rel="checkmark" type="image/svg+xml" href="images/check-mark.svg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="icon" href="/images/tablogo.ico">
  <title> Quaether- Tecnología BSQ para fortalecer tu biocampo </title>

</head>

<style>{{ readFile "static/css/homepage.css" | safeCSS }}</style>
<script defer language="javascript" type="application/javascript"  src="{{ "/js/homepage.js" | urlize | relURL }}"></script>


<body style="background-color:#f0f0f0;">

<!-- navbar responsive setting -->

<div class="aviso">
    <span class="boton-cerrar" onclick="this.parentElement.style.display='none';">&times;</span>
  <h1 class="titulo-alerta">Al permanecer en este sitio usted está aceptando nuestros Términos y Condiciones y nuestra Politica de Privacidad</h1>
  Vea la sección legal al pie de página para más información.
</div>

<img src="/images/header-es.webp" alt="Header" class="responsive" width=100% height=auto>

</body>

<body>
<div class="row" style= "margin:4% auto;">
  <div class="col-xl" style="text-align:center; padding-top:3%;">
    <img src="/images/homepage_welcome.webp" alt="Header" class="responsive" width=90% height=auto>
  </div>
  <div class="col-xl">
    <br><br>
    <div class="font1 intro-title" style= "color:#181a18 ; text-align:center" ><b> Bienvenido </b> </div>
    <div class= "font2 intro" style= "color:#181a18; text-align:center"> Nuestra tecnología es capaz de brindar un mejor medio ambiente y un aumento en sus niveles de energía. Ofrecemos a nuestros clientes: <br></div>
    <br>
    <ul class="no_bullet">
      <li> <div class = "font1 intro-title" style= "color:#181a18">Personalización</div> <div class= "font2 intro" style= "color:#181a18;text-align:left">Cada producto se desarrolla según las necesidades que presenta el cliente </div></li>
      <br>
      <li> <div class = "font1 intro-title" style= "color:#181a18">Soporte</div> <div class= "font2 intro" style= "color:#181a18;text-align:left">Los clientes pueden realizar consultas sobre aplicaciones o códigos específicos sin cargo </div></li>
      <br>
      <li> <div class = "font1 intro-title" style= "color:#181a18">Mantenimiento</div> <div class= "font2 intro" style= "color:#181a18; text-align:left">Servicio de reparación mediante el envío del producto a la dirección de contacto </div></li>
      <br>
    </ul>
  </div>
</div>
</body>

<body>

<div class="row">
  <div class="col-xl-6 video-col" style="text-align:center; background:linear-gradient(to top, #009900 -2%, #339933 100%);">
    <div class="font1 intro-title" style= "color:#f0f0f0; padding-top:50px;" ><b> ¿Cómo funciona la tecnología?</b> </div>
    <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CbL1eaiv7bE" frameborder="0" allowfullscreen class="c large aligncenter"></iframe>
   </div>
  </div>
  <div class="col-xl-6 video-col" style="text-align:center; background:linear-gradient(to top, #009900 -2%, #339933 100%);">
    <div class="font1 intro-title" style= "color:#f0f0f0; padding-top:50px;"><b> ¿Cómo usar los códigos con el BSQ?</b> </div>
    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VUnhbx_LevQ" frameborder="0" allowfullscreen class="c large aligncenter"></iframe>
   </div>
  </div>
</div>
<script>
function youTubes_makeDynamic() {
  var $ytIframes = $('iframe[src*="youtube.com"]');
  $ytIframes.each(function (i,e) {
    var $ytFrame = $(e);
    var ytKey; var tmp = $ytFrame.attr('src').split(/\//); tmp = tmp[tmp.length - 1]; tmp = tmp.split('?'); ytKey = tmp[0];
    var $ytLoader = $('<div class="ytLoader">');
    $ytLoader.append($('<img class= "cover" style="width: 840px; height: 550px; position: relative;" src="https://i.ytimg.com/vi/'+ytKey+'/hqdefault.jpg">'));
    $ytLoader.append($('<img class="playBtn" style="width: 100px; height: 100px; position: absolute; top: 350px; left: 450px;" src="/images/play_button.png">'));
    $ytLoader.data('$ytFrame',$ytFrame);
    $ytFrame.replaceWith($ytLoader);
    $ytLoader.click(function () {
      var $ytFrame = $ytLoader.data('$ytFrame');
      $ytFrame.attr('src',$ytFrame.attr('src')+'?autoplay=1');
      $ytLoader.replaceWith($ytFrame);
    });
  });
};
$(document).ready(function () {youTubes_makeDynamic()});
</script>
</body>
<br><br>

<body>
    <div class="tsl-container">
      <h1 class="font1 intro-title" style= "color:black; text-align:center"><b> TESTIMONIOS </b> </h1>
      <hr class="bookends">
    	<!-- testimonials begin -->

        <div class="mySlides">
            <q>En lo personal mejore en varios aspectos tanto en lo económico como en relaciones sociales y familiares. Logre metas personales de una manera más fácil y eficaz, sin dudas esta tecnología funciona!!<br>Con el código logre programar un objetivo que creía casi imposible y con la ayuda de este no solo se hizo posible si no que también más alcanzable!!</q>
            <p class="author">- Lourdes Jaimes</p>
          </div>

          <div class="mySlides">
            <q>Al principio, desaparecieron los dolores de cabeza de toda la vida y nunca más volvieron. Luego, y hasta ahora, he logrado de un equilibrio general respecto de todos los aspectos de la vida, tanto internos como externos.<br>Considero que el BSQ me da muy buenos resultados sin utilizar los códigos, acción a la que no estoy particularmente dispuesto.</q>
            <p class="author">- César Scafati </p>
          </div>

          <div class="mySlides">
            <q>De la tecnología BSQ obtuve muy buenos beneficios en la relación familiar. En el trabajo, mas concentración y orden. Mi humor tambien esta más estable y harmonioso.<br>
          Otro beneficio, lo relaciono con el descanso, que me permite dormir mucho mejor. Los códigos los use pocas veces, igualmente es notable el efecto en el instante.</q>
            <p class="author">-Rosa Tempesta</p>
          </div>

          <div class="mySlides">
            <q>La tecnologia BSQ me ha beneficiado en sentido general, en el orden psicolôgico y en lo fìsico. Creo que si no tuviera el BSQ no estariamos en mi familia pasandola bien en un momento tan dificil como el actual.<br>No se si habria diferencia, pero los codigos creo que respondieron</q>
            <p class="author">-Francisca Behringer -Juliana Alvino -Carlos Alvino</p>
          </div>

          <div class="mySlides">
            <q>Permite tomar decisiones con una mirada más amplia de posibilidades y alternativas. Esto influye en la calidad de vida pues permite mayor relajación y menos estrés. También mejora el sueño y el descanso en general.<br>
              El vínculo con los demás mejora y también se puede observar que las personas modifican algunas actitudes nocivas para sí mismas y para con los otros. <br>Los códigos potencian el trabajo que realiza el BSQ, es decir, amplía todo lo dicho anteriormente.<br>
              Permite la implementación de la estrategia correcta en el momento correcto. Se puede influir positivamente en los otros y así mejora todo el espectro de la situación.</q>
            <p class="author">-Marina Campos</p>
          </div>

          <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
          </div>


          </div>

    	<!-- testimonials end -->
      <hr class="bookends">
    </div>
</body>
<br>
<br>
<div class="news-container">
    <div class="row" style="padding-bottom:50px">
        <div class="col-xl">
            <div class="news">
                <div class="news-image">
                  {{ range where .Site.Pages ".Params.estop1"  "true"}}
                      <img src={{.Params.img}}>
                      <p class="description">
                          {{ .Params.description }}
                      </p>
                    {{ end }}
                    <ul class="social">
                      {{range (where .Site.Pages ".Params.estop1"  "true")}}
                      <meta property="og:title"         content={{.Page.Title}} />
                      <meta property="og:description"   content={{.Params.description}}/>
                      <meta property="og:image"         content={{.Params.img}} />
                      <meta name="twitter:card" content="summary_large_image" />
                      <meta name="twitter:title" content={{.Page.Title}} />
                      <meta name="twitter:description" content={{.Params.description}} />
                      <meta name="twitter:image" content={{.Params.img}} />
                      {{ $title := .Page.Title }}
                      {{ $url := printf "%s" .Permalink }}
                      {{ $image := .Params.imgsocial}}
                      {{ $comment := "Read this article from Quaether" }}
                      <li><a href="https://www.facebook.com/sharer.php?u={{ $url }}" target="_blank" rel="noopener noreferrer" aria-label="Share on Facebook" class="share-btn facebook"><i class="fa fa-facebook-f"></i></a></li>
                      <li><a href="https://twitter.com/intent/tweet?text={{ $comment }}&url={{ $url }}" target="_blank"  rel="noopener noreferrer" class="twitter" aria-label="share on Twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="http://www.pinterest.com/pin/create/button/?url={{ $url }}&media={{ $image }}&description={{ .Params.description }}" class="pin-it-button" count-layout="horizontal" id="pinterest" target="_blank" rel="noopener noreferrer"><i class="fa fa-pinterest-p"></i></a></li>
                      <li><a href="https://wa.me/?text={{ $url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-whatsapp"></i></a></li>
                      {{ end }}
                    </ul>
                </div>
                <div class="news-info">
                    {{ range where .Site.Pages ".Params.estop1"  "true"}}
                    <h3 class="title">{{ .Page.Title }}</h3>
                  {{ end }}
                </div>
                    {{ range where .Site.Pages ".Params.estop1"  "true"}}
                  <a href="{{ .Permalink }}" class="read">READ MORE</a>
                {{ end }}
            </div>
        </div>

        <div class="col-xl">
            <div class="news">
                <div class="news-image">
                      {{ range where .Site.Pages ".Params.estop2"  "true"}}
                      <img src={{.Params.img}}>
                      <p class="description">
                          {{ .Params.description }}
                      </p>
                    {{ end }}
                    <ul class="social">
                      {{range (where .Site.Pages ".Params.estop2"  "true")}}
                      <meta property="og:title"         content={{.Page.Title}} />
                      <meta property="og:description"   content={{.Params.description}}/>
                      <meta property="og:image"         content={{.Params.img}} />
                      <meta name="twitter:card" content="summary_large_image" />
                      <meta name="twitter:title" content={{.Page.Title}} />
                      <meta name="twitter:description" content={{.Params.description}} />
                      <meta name="twitter:image" content={{.Params.img}} />
                      {{ $title := .Page.Title }}
                      {{ $url := printf "%s" .Permalink }}
                      {{ $image := .Params.imgsocial}}
                      {{ $comment := "Read this article from Quaether" }}
                      <li><a href="https://www.facebook.com/sharer.php?u={{ $url }}" target="_blank" rel="noopener noreferrer" aria-label="Share on Facebook" class="share-btn facebook"><i class="fa fa-facebook-f"></i></a></li>
                      <li><a href="https://twitter.com/intent/tweet?text={{ $comment }}&url={{ $url }}" target="_blank"  rel="noopener noreferrer" class="twitter" aria-label="share on Twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="http://www.pinterest.com/pin/create/button/?url={{ $url }}&media={{ $image }}&description={{ .Params.description }}" class="pin-it-button" count-layout="horizontal" id="pinterest" target="_blank" rel="noopener noreferrer"><i class="fa fa-pinterest-p"></i></a></li>
                      <li><a href="https://wa.me/?text={{ $url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-whatsapp"></i></a></li>
                      {{ end }}
                    </ul>
                </div>
                <div class="news-info">
                    {{ range where .Site.Pages ".Params.estop2"  "true"}}
                    <h3 class="title">{{ .Page.Title }}</h3>
                  {{ end }}
                </div>
                  {{ range where .Site.Pages ".Params.estop2"  "true"}}
                  <a href="{{ .Permalink }}" class="read">READ MORE</a>
                {{ end }}
            </div>
        </div>

        <div class="col-xl">
            <div class="news">
                <div class="news-image">
                      {{ range where .Site.Pages ".Params.estop3"  "true"}}
                      <img src={{.Params.img}}>
                      <p class="description">
                          {{ .Params.description }}
                      </p>
                    {{ end }}
                    <ul class="social">
                      {{range (where .Site.Pages ".Params.estop3"  "true")}}
                      <meta property="og:title"         content={{.Page.Title}} />
                      <meta property="og:description"   content={{.Params.description}}/>
                      <meta property="og:image"         content={{.Params.img}} />
                      <meta name="twitter:card" content="summary_large_image" />
                      <meta name="twitter:title" content={{.Page.Title}} />
                      <meta name="twitter:description" content={{.Params.description}} />
                      <meta name="twitter:image" content={{.Params.img}} />
                      {{ $title := .Page.Title }}
                      {{ $url := printf "%s" .Permalink }}
                      {{ $image := .Params.imgsocial}}
                      {{ $comment := "Read this article from Quaether" }}
                      <li><a href="https://www.facebook.com/sharer.php?u={{ $url }}" target="_blank" rel="noopener noreferrer" aria-label="Share on Facebook" class="share-btn facebook"><i class="fa fa-facebook-f"></i></a></li>
                      <li><a href="https://twitter.com/intent/tweet?text={{ $comment }}&url={{ $url }}" target="_blank"  rel="noopener noreferrer" class="twitter" aria-label="share on Twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="http://www.pinterest.com/pin/create/button/?url={{ $url }}&media={{ $image }}&description={{ .Params.description }}" class="pin-it-button" count-layout="horizontal" id="pinterest" target="_blank" rel="noopener noreferrer"><i class="fa fa-pinterest-p"></i></a></li>
                      <li><a href="https://wa.me/?text={{ $url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-whatsapp"></i></a></li>
                      {{ end }}
                    </ul>
                </div>
                <div class="news-info">
                    {{ range where .Site.Pages ".Params.estop3"  "true"}}
                    <h3 class="title">{{ .Page.Title }}</h3>
                  {{ end }}
                </div>
                  {{ range where .Site.Pages ".Params.estop3"  "true"}}
                  <a href="{{ .Permalink }}" class="read">READ MORE</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>


{{ partialCached "subscribe-es.html" . }}

{{ partialCached "footer-es.html" . }}
</html>
