<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title> Quaether- Dispositivo BSQ Neo</title>
</head>


<style>{{ readFile "static/css/bsq-mini.css" | safeCSS }}</style>
<body style="background-color:#f0f0f0;">

<!-- navbar responsive setting -->
{{ partialCached "header.html" . .Params.eslink  }}

{{ partialCached "header-pic.html" . .Title }}

<body>
<div class="row">
  <div class="col-xl" style="text-align:center; padding-top: 50px;">
    <img src="/images/housing-bubble.webp" alt="The BSQ Neo home protection" class="responsive-1" width=80% height=auto>
    <h2  class= "section-title"><b> Home, sweet home </b></h2>
    <h4 class= "description"> The BSQ neo provides protection for your personal
      spaces. <br>This protection contributes to the renewal of energy and the reduction of anxiety that may have accumulated throughout the day.  </h4>
    </div>
    <div class="col-xl">
      <div class="col-xl" style="text-align:center; padding-top: 50px;">
        <img src="/images/bsq-neoeffect.webp" alt="BSQ Neo antenna effect" class="responsive-1" width=70% height=auto>
        <h2  class= "section-title"><b> Enjoy double field benefits </b></h2>
        <h4 class= "description"> Its design includes two antennas which are calibrated to provide a greater range of effectiveness.
          <br>The antennas are chosen in a complementary way, encouraging resonance between nearby biofields.  </h4>
      </div>
    </div>
    <div class="col-xl">
      <div class="col-xl" style="text-align:center;padding-top: 50px;">
        <img src="/images/bsq-work.webp" alt="BSQ Neo in the work environment" class="responsive-1" width=75% height=auto>
        <h2  class= "section-title"> <b>Work, your second home </b></h2>
        <h4 class= "description"> The work routine can generate a stress that affects your biofield.
          <br>Keeping the BSQ neo close, improves interpersonal relationships and reduces energy loss.</h4>
      </div>
    </div>
</div>
</body>

{{ partialCached "contact-popup.html" . .Params.contactbutton }}

{{ partialCached "footer.html" . }}

</html>
