<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title> Quaether- BSQ Mini device </title>
</head>



<style>{{ readFile "static/css/bsq-mini.css" | safeCSS }}</style>
<body style="background-color:#f0f0f0;">

<!-- navbar responsive setting -->
{{ partialCached "header-es.html" . .Params.enlink }}

{{ partialCached "header-pic-es.html" . .Title .Params.seccion }}

<body>
<div class="row">
  <div class="col-xl" style="padding-top: 50px;">
    <img src="/images/bsq-shield.webp" alt="Biocampo humano" class="responsive-1" width=50% height=auto>
    <div  class= "section-title"><b> Tu protector personal </b> </div>
    <div class= "description"> A diferencia de otros modelos, el BSQ mini está diseño para trabajar a corta distancia con el objetivo de mejorar la resonancia entre el biocampo
      de la persona y  entorno en el que se encuentra presente. <br>El concepto de entorno también incluye los biocampos de otras personas que se sitúen cerca. </div>
    </div>
    <div class="col-xl">
      <div class="col-md" style="text-align:center;padding-top: 50px;">
        <img src="/images/BSQ-MINI.webp" alt="Animación del cambio de pilas" class="responsive-1" width=70% height=auto>
        <div  class= "section-title"><b>Fácil de cambiar baterias</b> </div>
        <div class= "description">El BSQ mini posee un sistema intuitivo de tapa que se desliza para acceder a las pilas.<br>El dispositivo admite tanto pilas AA alcalinas como AA recargables.
          <br>La compra del BSQ mini incluye un cargador de pilas, mediante cable USB, y 4 pilas AA recargables dándole al usuario la posibilidad de utilizarlo ni bien lo recibe. </div>
      </div>
    </div>
    <div class="col-xl">
      <div class="col-md" style="text-align:center;padding-top: 50px;">
        <img src="/images/bsq-portable.webp" alt="Carry the BSQ Mini in your bag and take it everywhere" class="responsive-1" width=69% height=auto>
        <div  class= "section-title"><b> Hazlo parte de tu rutina </b></div>
        <div class= "description"> Su diseño portable permite transportarlo en un bolso o cartera, brindando a los usuarios una protección duradera, ya sea que estén
          viajando o realizando alguna actividad.</div>
      </div>
    </div>
</div>

<h1 style="background-color:#249141;color:#f0f0f0;text-align:center;margin:2%;padding:2%;"><b> ELIGE LA ANTENA PARA TU PROBLEMA </b></h1>

<div class="row">
  <div class="col-xl">
    <img src="/images/ansiedad.webp" alt="Antena Ansiedad" class="responsive-1">
    <div  class= "section-title"><b>ANSIEDAD</b> </div>
    <div class= "description">Reduce la sensación de inquietud o tensión interna y aumenta tu nivel de control sobre la situación.</div>
  </div>
  <div class="col-xl">
    <img src="/images/cadenas.webp" alt="Antena Bloqueo emocional" class="responsive-1">
    <div  class= "section-title"><b>BLOQUEO EMOCIONAL</b> </div>
    <div class= "description">Mejora tu interacción con los biocampos cercanos para que puedas expresarse sin barreras.</div>
  </div>
  <div class="col-xl">
    <img src="/images/cansado.webp" alt="Antena Cansancio" class="responsive-1">
    <div  class= "section-title"><b>CANSANCIO</b> </div>
    <div class= "description">Regula la perdida de energía a lo largo del día, haciendo más eficientes tus actividades.</div>
  </div>
</div>

<div class="row">
  <div class="col-xl">
    <img src="/images/depresion.webp" alt="Antena Depresion" class="responsive-1">
    <div  class= "section-title"><b>DEPRESIÓN</b> </div>
    <div class= "description">Ajusta tus niveles de energía para evitar bajones inesperados y refuerza tu biocampo.</div>
  </div>
  <div class="col-xl">
    <img src="/images/envidia.webp" alt="Antena Inseguridad" class="responsive-1">
    <div  class= "section-title"><b>INSEGURIDAD</b> </div>
    <div class= "description">Reduce la influencia de otros biocampos sobre el tuyo y refuerza tu biocampo, aumentando tu confianza.</div>
  </div>
  <div class="col-xl">
    <img src="/images/dolor.webp" alt="Antena Dolor Crónico" class="responsive-1">
    <div  class= "section-title"><b>DOLOR CRÓNICO</b> </div>
    <div class= "description">Fortalece tu biocampo, aumentando la capacidad de regeneración natural del cuerpo y reduciendo los síntomas.</div>
  </div>
</div>


</body>

{{ partialCached "contact-popup-es.html" . .Params.contactbutton }}

{{ partialCached "footer-es.html" . }}

</html>
