<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title> Quaether- Dispositivo BSQ Mini</title>
</head>



<style>{{ readFile "static/css/bsq-mini.css" | safeCSS }}</style>
<body style="background-color:#f0f0f0;">

<!-- navbar responsive setting -->
{{ partialCached "header.html" . .Params.eslink}}

{{ partialCached "header-pic.html" . .Title }}


<body>
<div class="row">
  <div class="col-xl" style="padding-top: 50px;">
    <img src="/images/bsq-shield.webp" alt="Human biofield" class="responsive-1" width=50% height=auto>
    <div  class= "section-title"><b> Your personal protector</b> </div>
    <div class= "description"> Unlike other models, the BSQ mini is designed to work
      at a short distance in order to improve the resonance between the person's biofield and the surrounding environment. <br>The concept of environment
      also includes the biofields of other people who are nearby. </div>
    </div>
    <div class="col-xl">
      <div class="col-md" style="text-align:center;padding-top: 50px;">
        <img src="/images/BSQ-MINI.webp" alt="Animation of BSQ Mini change of batteries" class="responsive-1" width=70% height=auto>
        <div  class= "section-title"><b>Easy to switch batteries</b> </div>
        <div class= "description">The BSQ mini has an intuitive lid system that slides out to access the batteries.
          The device accepts both AA alkaline and AA rechargeable batteries.<br>The purchase of the BSQ mini includes a battery charger, via USB cable, and 4 rechargeable AA batteries,
          giving the user the possibility of using it as soon as it is received. </div>
      </div>
    </div>
    <div class="col-xl">
      <div class="col-md" style="text-align:center;padding-top: 50px;">
        <img src="/images/bsq-portable.webp" alt="Carry the BSQ Mini in your bag and take it everywhere" class="responsive-1" width=69% height=auto>
        <div  class= "section-title"><b> Make it part of your routine </b></div>
        <div class= "description"> Its portable design allows it to be transported in a bag or
          purse, providing users with long-lasting protection, whether they are traveling or doing any activity. </div>
      </div>
    </div>
</div>
</body>

<div style="background-color:green; width:100%;">
  <div class="row">
      <div class="col-md" style= "padding: 3%">
        <img src="/images/BSQMini-black.webp" alt="BSQ Mini black model" class="responsive-1" style="text-align: left;">
      </div>
      <div class="col-md-5" style= "padding: 2%">
        <h1 style= "color:white;font-family:'Roboto',sans-serif; font-size:3em ;text-align:center;"><b>AN ANTENNA FOR EVERY NEED</b></h1>
          <br><br>
        <h4 style= "color:white;font-family:'Roboto',sans-serif;font-size:1.8em ;text-align:center;">The antenna of the BSQ Mini depends on the chosen concept</h4>
      </div>
      <div class="col-md" style= "padding: 3%">
        <img src="/images/BSQMini-Cream.webp" alt="BSQ Mini cream model" class="responsive-1" style="text-align: right;">
      </div>
    </div>
</div>

<div class="container">
<div class="row" style= "padding:4%;">
    <div class="col-md-4 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <span class="image"><img src="/images/ansiedad.webp"></span>
            </div>
            <div class="product-content">
              <h3 class="title">ANXIETY</h3>
              <div class="clayer-price" data-sku-code="BSQMINIANXBLK">
              <span>BSQ Mini device with antenna for anxiety. Size: 12cm x 9cm x 6,5cm.<br>Includes AA battery charger and 4 rechargeable AA batteries.<br><b>FREE SHIPPING</b></span>
              <br><br><span class="amount price"></span>
              <span class="compare-at-amount"></span>
              <div style= "margin:2%;"></div>

              <!-- Variants (select) -->
              <div class="select"> <!-- Only for styling -->
                <select class="clayer-variant-select" name="variant" data-availability-message-container-id="availability-message" data-add-to-bag-id="add-to-bag" data-add-to-bag-quantity-id="add-to-bag-quantity">
                  <option value="" disabled selected> Select color</option>
                  <option class="clayer-variant" data-sku-code="BSQMINIANXBLK" data-sku-name="BSQ Mini Anxiety (Black)">Black</option>
                  <option class="clayer-variant" data-sku-code="BSQMINIANXCRM" data-sku-name="BSQ Mini Anxiety (Cream)">Cream</option>
                </select>
                <!-- Add to bag quantity -->
                <input id="add-to-bag-quantity-1" type="number" value="1" class="input clayer-add-to-bag-quantity" >

              </div>

              <!-- Add to bag -->
              <a href="#" class="add-to-cart clayer-add-to-bag" id="add-to-bag"
                          data-availability-message-container-id="availability-message"><i class="fa fa-shopping-bag"></i> Add to bag</a>

              <div class="clayer-availability-message-container" id="availability-message"></div>
              </div>
              </div>

              <!-- Availability message templates -->

              <template id="clayer-availability-message-available-template">
              <p>
              Available in
              <span class="clayer-availability-message-available-min-days"></span>-
              <span class="clayer-availability-message-available-max-days"></span> days with
              <span class="clayer-availability-message-available-shipping-method-name"></span>
              (<span class="clayer-availability-message-available-shipping-method-price"></span>)
              </p>
              </template>
              <template id="clayer-availability-message-unavailable-template">
              <p class="has-text-danger">Please contact us for a bigger purchase amount.</p>
              </template>

          </div>
    </div>

      <div class="col-md-4 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <span class="image" width=200px height=243px><img src="/images/cadenas.webp"></span>
            </div>
            <div class="product-content">
                <h3 class="title">EMOTIONAL BLOCKAGE</h3>
                <div class="clayer-price" data-sku-code="BSQMINIEMBBLK">
                  <span>BSQ Mini device with antenna for emotional blockage. Size: 12cm x 9cm x 6,5cm.<br>Includes AA battery charger and 4 rechargeable AA batteries.<br><b>FREE SHIPPING</b></span>
                  <br><br><span class="amount price"></span>
                  <span class="compare-at-amount"></span>
                  <div style= "margin:2%;"></div>
                  <!-- Variants (select) -->
                  <div class="select"> <!-- Only for styling -->
                    <select class="clayer-variant-select" name="variant" data-availability-message-container-id="availability-message" data-add-to-bag-id="add-to-bag" data-add-to-bag-quantity-id="add-to-bag-quantity">
                      <option value="" disabled selected> Select color</option>
                      <option class="clayer-variant" data-sku-code="BSQMINIEMBBLK" data-sku-name="BSQ Mini Emotional Blockage (Black)">Black</option>
                      <option class="clayer-variant" data-sku-code="BSQMINIEMBCRM" data-sku-name="BSQ Mini Emotional Blockage (Cream)">Cream</option>
                    </select>
                    <!-- Add to bag quantity -->
                    <input id="add-to-bag-quantity-2" type="number" value="1" class="input clayer-add-to-bag-quantity" >

                  </div>

                  <!-- Add to bag -->
                  <a href="#" class="add-to-cart clayer-add-to-bag" id="add-to-bag"
                              data-availability-message-container-id="availability-message"><i class="fa fa-shopping-bag"></i> Add to bag</a>

                  <div class="clayer-availability-message-container" id="availability-message"></div>
                </div>
            </div>
            <!-- Availability message templates -->

            <template id="clayer-availability-message-available-template">
            <p>
            Available in
            <span class="clayer-availability-message-available-min-days"></span>-
            <span class="clayer-availability-message-available-max-days"></span> days with
            <span class="clayer-availability-message-available-shipping-method-name"></span>
            (<span class="clayer-availability-message-available-shipping-method-price"></span>)
            </p>
            </template>
            <template id="clayer-availability-message-unavailable-template">
            <p class="has-text-danger">Please contact us for a bigger purchase amount.</p>
            </template>

        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <div class="image"><img src="/images/cansado.webp"></div>
            </div>
            <div class="product-content">
                <h3 class="title">TIRENESS</h3>
                <div class="clayer-price" data-sku-code="BSQMINITIRBLK">
                <span>BSQ Mini device with antenna for tireness. Size: 12cm x 9cm x 6,5cm.<br>Includes AA battery charger and 4 rechargeable AA batteries.<br><b>FREE SHIPPING</b></span>
                <br><br><span class="amount price"></span>
                <span class="compare-at-amount"></span>
                <div style= "margin:2%;"></div>
                <select class="clayer-variant-select" name="color" data-availability-message-container-id="availability-message" data-add-to-bag-id="add-to-bag" data-add-to-bag-quantity-id="add-to-bag-quantity">
                <option value="" disabled selected>Select color</option>
                <option class="clayer-variant" data-sku-code="BSQMINITIRBLK">Black</option>
                <option class="clayer-variant" data-sku-code="BSQMINITIRCRM">Cream</option>
                </select>
                <input id="add-to-bag-quantity" type="number" value="1" class="input clayer-add-to-bag-quantity">
                <br><br>
                <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row" style= "padding: 4%;">
    <div class="col-md-4 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <span class="image"><img src="/images/depresion.webp"></span>
            </div>
            <div class="product-content">
                <h3 class="title">DEPRESSION</h3>
                <div class="clayer-price" data-sku-code="BSQMINIDEPBLK">
                <span>BSQ Mini device with antenna for depression. Size: 12cm x 9cm x 6,5cm.<br>Includes AA battery charger and 4 rechargeable AA batteries.<br><b>FREE SHIPPING</b></span>
                <br><br><span class="amount price"></span>
                <span class="compare-at-amount"></span>
                <div style= "margin:2%;"></div>
                <select class="clayer-variant-select" name="color" data-availability-message-container-id="availability-message" data-add-to-bag-id="add-to-bag" data-add-to-bag-quantity-id="add-to-bag-quantity">
                <option value="" disabled selected>Select color</option>
                <option class="clayer-variant" data-sku-code="BSQMINIDEPBLK">Black</option>
                <option class="clayer-variant" data-sku-code="BSQMINIDEPCRM">Cream</option>
                </select>
                <input id="add-to-bag-quantity" type="number" value="1" class="input clayer-add-to-bag-quantity">
                <br><br>
                <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <span class="image"><img src="/images/envidia.webp"></span>
            </div>
            <div class="product-content">
                <h3 class="title">INSECURITY</h3>
                <div class="clayer-price" data-sku-code="BSQMINIINSBLK">
                <span>BSQ Mini device with antenna for envy or insecurity. Size: 12cm x 9cm x 6,5cm.<br>Includes AA battery charger and 4 rechargeable AA batteries.<br><b>FREE SHIPPING</b></span>
                <br><br><span class="amount price"></span>
                <span class="compare-at-amount"></span>
                <div style= "margin:2%;"></div>
                <select class="clayer-variant-select" name="color" data-availability-message-container-id="availability-message" data-add-to-bag-id="add-to-bag" data-add-to-bag-quantity-id="add-to-bag-quantity">
                <option value="" disabled selected>Select color</option>
                <option class="clayer-variant" data-sku-code="BSQMINIINSBLK">Black</option>
                <option class="clayer-variant" data-sku-code="BSQMINIINSCRM">Cream</option>
                </select>
                <input id="add-to-bag-quantity" type="number" value="1" class="input clayer-add-to-bag-quantity">
                <br><br>
                <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image"><img src="/images/dolor.webp"></a>
            </div>
            <div class="product-content">
                <h3 class="title">CHRONIC PAIN</h3>
                <div class="clayer-price" data-sku-code="BSQMINICRPBLK">
                <span>BSQ Mini device with antenna for chronic pain. Size: 12cm x 9cm x 6,5cm.<br>Includes AA battery charger and 4 rechargeable AA batteries.<br><b>FREE SHIPPING</b></span>
                <br><br><span class="amount price"></span>
                <span class="compare-at-amount"></span>
                <div style= "margin:2%;"></div>
                <select class="clayer-variant-select" name="color" data-availability-message-container-id="availability-message" data-add-to-bag-id="add-to-bag" data-add-to-bag-quantity-id="add-to-bag-quantity">
                <option value="" disabled selected>Select color</option>
                <option class="clayer-variant" data-sku-code="BSQMINICRPBLK">Black</option>
                <option class="clayer-variant" data-sku-code="BSQMINICRPCRM">Cream</option>
                </select>
                <input id="add-to-bag-quantity" type="number" value="1" class="input clayer-add-to-bag-quantity">
                <br><br>
                <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div id="clayer-shopping-bag-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th colspan="1">Product</th>
        <th>Unit price</th>
        <th>Q.ty</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="clayer-shopping-bag-items-container">
    </tbody>
    <template id="clayer-shopping-bag-item-template">
      <tr>
        <td class="clayer-shopping-bag-item-name"></td>
        <td class="clayer-shopping-bag-item-unit-amount"></td>
        <td class="clayer-shopping-bag-item-qty-container">
          <input type="number" max="100"/>
          <span class="clayer-shopping-bag-item-availability-message-container"></span>
        </td>
        <td class="clayer-shopping-bag-item-total-amount"></td>
        <td>
          <a href="#" class="clayer-shopping-bag-item-remove"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
      </tr>
    </template>
  </table>

  <table class="table is-fullwidth">
    <tr>
      <td>Subtotal</td>
      <td class="clayer-shopping-bag-subtotal"></td>
    </tr>
    <tr>
      <td>Shipping</td>
      <td class="clayer-shopping-bag-shipping"></td>
    </tr>
    <tr>
      <td>Total</td>
      <td class="clayer-shopping-bag-total"></td>
    </tr>
  </table>

  <!-- Checkout -->
  <a href="#" class="is-success clayer-shopping-bag-checkout">Proceed to checkout</a>
</div>

</div>

{{ partialCached "contact-popup.html" . .Params.contactbutton }}

{{ partialCached "footer.html" . }}

<body>
    <!-- Config -->
    <div
      id="clayer-config"
      data-base-url="https://quaether.commercelayer.io"
      data-client-id="AwNe2JJAoB6lufs_TQtQH_a4WmFZGsW61ra9VGlA5dk"
      data-market-id="7388"
      data-country-code="US"
      data-language-code="en"
      data-cart-url="https://quaether.com/cart"
      data-return-url="https://quaether.com/return"
      data-privacy-url="https://quaether.com/privacy-policy"
      data-terms-url="https://quaether.com/disclaimer"
      data-dev-settings-debug="true"
      data-dev-settings-console="true"
      data-dev-settings-trace="true"
    ></div>

    <script type="text/javascript">
      [
        'clayer-prices-ready',
        'clayer-variants-ready',
        'clayer-add-to-bags-ready',
        'clayer-variant-selected',
        'clayer-order-ready',
        'clayer-line-item-created',
        'clayer-line-item-updated',
        'clayer-line-item-deleted'
      ].forEach(function(event){
        document.addEventListener(event, function(e){
          console.log(`[CLAYER CUSTOM EVENT] ${event}`)
        })
      })
    </script>

    <!-- JS Library -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@commercelayer/js-dropin@1.5.1/dist/commercelayer.min.js"
    ></script>
  </body>

</html>
